@import "../../assets/styles/variable";

#header {
  min-height: $height-header;
  box-shadow: $box-shadow-header;
  background-color: $header-bg;
  padding: 0.5rem 0;

  .nav {
    li {
      border-radius: 3px;

      padding: 5px 20px;
      margin: 0 2px;
      text-transform: capitalize;
      color: $white;
      font-size: 1.6rem;
      cursor: pointer;
      &:hover{
        background-color: #EF681C;
        opacity: 0.7;
      }
    }
  }
}
