.wrap-q {
  min-height: 400px;
}


input[type="checkbox"] {
  accent-color: red;
  &:checked + label {
    color: red;
  }
}

input[type="radio"] {
  accent-color: red;
  &:checked + label {
    color: red;
  }
}

