::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background-color: #ccc;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: #fd6132;
  border-radius: 2px;
}

.btn-answer-true, .btn-answer-false, .btn-answer-missing, .btn-empty, .btn-current-select, .btn-selected {
  border: 1px solid #6c757d !important;
  background-color: #fff !important;
  color: #fff !important;

  &:hover {
    background-color: #0048ff !important;
    color: #fff !important;
    opacity: 0.7;
  }
}

.btn-empty {
  background-color: #fff !important;
  color: #083761 !important;

}


.btn-selected {
  border-color: #EF681C !important;
  background-color: #EF681C !important;

}

.btn-current-select {
  border-color: #0048ff !important;
  background-color: #0048ff !important;
  color: #fff !important;
}

.btn-answer-true {
  background-color: green !important;
  border-color: green !important;
}

.btn-answer-false {
  background-color: red !important;
  border-color: red !important;
}

.btn-answer-missing {
  background-color: #ffc107 !important;
  border-color: #ffc107 !important;
}

.menu-active {
  background-color: #EF681C;
}
