//color
$height-header : 80px;

$white : #fff;
$gray-f8 : #f8f8f8;
$gray-c : #ccc;
$primary-alternative-dark: #083761 !default;


$header-bg: #ffc0a8;
//height

$height-header: 60px;

// box-shadow

$box-shadow-header : 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

/* Text-size styles */
$body: 16px !default;
